{{ define "header"}}
{{ partial "page_header.html" . }}
{{ end }}

{{ define "main" }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script id="snipcart"
    data-api-key="MTdkYmYzNWQtMWFkZi00NGJlLTkwMWYtYzY1YWNjODk5MDEzNjM2ODYxOTIyNDQyMzI0NTgy"
    data-cart-custom1-name="Position du nid (arbre, sous toiture, cheminée, ...)"
    data-cart-custom1-required="false"
    data-cart-custom2-name="Hauteur approximative du nid (hauteur d'homme, 5m, 10m, 15m)"
    data-cart-custom2-required="false"
    data-cart-custom3-name="Adresse d'intervention si différente de l'adresse de facturation"
    data-cart-custom3-required="false"
    src="https://cdn.snipcart.com/scripts/2.0/snipcart.js">
</script>
 
<!-- Section Start - Page With Sidebar -->
<section  id='team'>
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-article">
              <header>
                <h1 class="heading" style="font-size : 40px;line-height:40px;">
                  {{ .Title }}
                </h1>
                <div class="headul" style=" margin : 20px auto;"></div>
              </header>
              
              <article>
                <p class="subheading">
                  {{ .Param "subheading" }}
                </p>
                {{ .Content }}

                <button
                    class="snipcart-add-item"
                    data-item-id='{{ .Param "id" }}'
                    data-item-name="{{ .Title }}"
                    data-item-price="{{ .Params.price }}"
                    data-item-url="{{ .Permalink }}"
                    {{ with .Params.shortDescription }}
                    data-item-description="{{ . }}"
                    {{ end }}
                    {{ with .Params.cartImage }}
                    data-item-image="{{ . | absURL }}"
                    {{ end }}
                >
                Commander une intervention
                </button>

               

              </article>
            </div>
    </div>
</section>
<!-- Section End - Page With Sidebar -->

{{ end }}