<!-- Section Start - Informations -->
<section class='bg-primary services max-width-100  ' id='services'>
    <div class="container">  
        <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <h1 class="heading text-white left-align">INFORMATIONS</h1>
                <div class="headul white left-align"></div>
                <p class="subheading text-white left-align">Lutte contre les frelons asiatiques</p>
                <p class="justify-align">Le frelon asiatique est classé danger sanitaire de 2e catégorie et cause une dizaine de morts en France par an.</p>
                <p class="justify-align">Pour lutter contre cette espèce invasive, la seule solution est le traitement des nids. Le frelon asiatique est dangereux, seul un professionnel équipé peut intervenir. </p>
                <p class="justify-align">En cas de piqûre, appelez rapidement les secours.</p>
            </div> 
            <div class="col-lg-7 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 service-tablets">
                <!--<div class="tablet-black inviewport animated delay1" data-effect="fadeInRight">
                    <img alt="tablet-black" src="img/tablet-black-yellow.png" class="style-dependent img-responsive">
                </div>-->
                <div class="tablet-white inviewport animated delay2" data-effect="fadeInRight">
                    <img alt="Frelon Vespa Velutina" src="img/frelon_vespa_velutina.png" class="style-dependent img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section End - Informations -->