<!-- Section Start - Nos Interventions -->
<section >
    <div class="container">
        <div class="row">
            <h1 class="heading">NOS INTERVENTIONS</h1>
            <div class="headul"></div>
            <p class="subheading">Notre tarif d'intervention est unique, et ce, quel que soit la hauteur du nid. <br/>Contactez-nous par téléphone au <strong>06 95 95 33 06</strong>.</p>
            <div class="features">
                <!-- Feature - Start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 feature inviewport animated delay1" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-information-outline"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">Devis gratuit</h3>
                        <p>Devis gratuit sur demande par téléphone ou par mail.</p>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 feature inviewport animated delay2" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-truck"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">Déplacement</h3>
                        <p>Intervention rapide sous 24/48 heures. </p>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 feature inviewport animated delay3" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-check-all"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">Garantie </h3>
                        <p>Traitement complet de la colonie garantie.</p>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 feature inviewport animated delay1" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-map-marker-radius"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">Intervention</h3>
                        <p>Zones d'interventions dans le 83, le 06 et Monaco.</p>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 feature inviewport animated delay2" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-school"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">Qualification</h3>
                        <p>Technicien certifié (CERTIBIOCIDES). </p>
                    </div>
                </div>
                <!-- Feature - End -->
                <!-- Feature - Start -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 feature inviewport animated delay3" data-effect="fadeInUp">
                    <div class="icon">
                        <i class="mdi mdi-run"></i>
                    </div>
                    <div class="info">
                        <h3 class="title">URGENCE</h3>
                        <p>Urgence Intervention 7J/7<br/>au <strong>06 95 95 33 06</strong></p>
                    </div>
                </div>
                <!-- Feature - End -->
            </div>
        </div>
    </div>
</section>
<!-- Section End - Nos Interventions -->