<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.viewportchecker.min.js"></script>
<script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
<!-- Section Start - Footer -->
<section class='footer bg-black padding-bottom-50 '><div class="container">
    <div class="row">
        <!-- Text Widget - Start -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-widget inviewport animated delay1" data-effect="fadeInUp">
            <div class="logo">
                <span>STOP-FRELONS</span>
            </div>
            <p>Stop-Frelons.com intervient rapidement dans le traitement de nids de frelons asiatiques et européens dans les départements du Var, des Alpes-Maritimes et dans la principauté de Monaco.</p>
            <p>Email : urgence@stop-frelons.com <br> Portable : +33 6 95 95 33 06</p>
        </div>
        <!-- Text Widget - End -->


        <!-- Twitter Widget - Start -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 twitter-widget inviewport animated delay2" data-effect="fadeInUp">
            <h4>CERTIFICATIONS</h4>
            <div class="headul left-align"></div>
            <div class="tweet">
                <i class="mdi mdi-file"></i>
                <div class="message"><small>CERTIPHYTO n°OF-0503-21804</small></div>
            </div>
            

            <div class="tweet">
                <i class="mdi mdi-file"></i>
                <div class="message"><small>CERTIBIOCIDE n°021449</small></div>
            </div>
            
        </div>
        <!-- Twitter Widget - End -->


        <!-- Flickr Widget - Start -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 flickr-widget inviewport animated delay3" data-effect="fadeInUp">
            <h4><a href='xxx.html'>Chaine Youtube</a></h4>
            <div class="headul left-align"></div>
            <div class="row images">
                <div class="col-md-3 col-sm-2 col-xs-4"><img alt="flickr-image" src="/img/flickr-1.jpg" class="img-responsive"></div>
                <div class="col-md-3 col-sm-2 col-xs-4"><img alt="flickr-image" src="/img/flickr-2.jpg" class="img-responsive"></div>
                <div class="col-md-3 col-sm-2 col-xs-4"><img alt="flickr-image" src="/img/flickr-3.jpg" class="img-responsive"></div>
                <div class="col-md-3 col-sm-2 col-xs-4"><img alt="flickr-image" src="/img/flickr-4.jpg" class="img-responsive"></div>
                <div class="col-md-3 col-sm-2 col-xs-4"><img alt="flickr-image" src="/img/flickr-5.jpg" class="img-responsive"></div>
                <div class="col-md-3 col-sm-2 col-xs-4"><img alt="flickr-image" src="/img/flickr-6.jpg" class="img-responsive"></div>
                <div class="col-md-3 hidden-sm hidden-xs"><img alt="flickr-image" src="/img/flickr-7.jpg" class="img-responsive"></div>
                <div class="col-md-3 hidden-sm hidden-xs"><img alt="flickr-image" src="/img/flickr-8.jpg" class="img-responsive"></div>
            </div>
        </div>
        <!-- Flickr Widget - End -->
    </div>
</div>
<!-- Copyright Bar - Start -->
<div class="copyright">
    <div class="col-md-12">
        <div class="container">
            <div class="">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 message inviewport animated delay1" data-effect="fadeInUp">
                    <span class="">&copy; Stop-Frelons</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 social">
                    <a href='mentions_legales.html'>Mentions Légales</a>
                    <a href='cgv.html'>CGV</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Bar - End -->
</section>
<!-- Section End - Footer -->


<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/main.js"></script>