<!-- Section Start - Header -->
        <section class="header bg-lightgray header-small" >
            
            {{- partial "header/topmenu.html" . -}}

            <!-- Logo and Mobile Menu - Start -->
            <div class='header-logo-wrap'>
                <div class="container">
                    <div class="logo col-xs-2">
                        <span>STOP-FRELONS</span>
                        <span class="phone_number"><i class="mdi mdi-phone"></i>  06 95 95 33 06</span>
                   </div>
                    <div class="menu-mobile col-xs-10 pull-right cssmenu">
                        <i class="mdi mdi-menu menu-toggle"></i>
                        <ul class="menu" id='parallax-mobile-menu'>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Logo and Mobile Menu - End -->
            <!-- Header Slide - Start -->
            <div class="header-slide" style="position:relative;">
                
               {{ if isset .Params "image" }}
                    <img alt="header-banner-image" src="{{ .Params.image }}" class='header-img' style=''>
               {{ else }}
                    <img alt="header-banner-image" src="/img/banner-8.jpg" class='header-img' style=''>
               {{ end }}
               

                <div class="overlay overlaysmall2">
                    <div class="black inviewport animated delay4" data-effect="fadeInLeftOpacity"></div>
                    <div class="primary inviewport animated delay4" data-effect="fadeInRightOpacity"></div>
                    <!-- Header Text - Start -->
                    <div class="maintext">
                        <div class="primary-text inviewport animated delay4" data-effect="fadeInRightBig">
                            <div class="left-line">
                                <h4>SPÉCIALISTE</h4>
                                <h1>TRAITEMENT</h1>
                            </div>
                        </div>
                        <div class="black-text inviewport animated delay4" data-effect="fadeInLeftBig">
                            <div>
                                <h1>FRELONS</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Header Text - End -->
                </div>
            </div>
            <!-- Header Slide - End -->
        </section>
        <!-- Section End - Header -->