{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 }}
 <nav class="">
    <div class="col-xs-12 blog_pagination blog_centered">
        <ul class="pagination">
            {{ if $pag.HasNext }}
            <li>
            <a class="" title="Page précédente" href="{{ $pag.Next.URL }}">
                &larr; Précédent
            </a>
            </li>
            {{ end }}

            {{ range $pag.Pagers }}
            {{ if eq . $pag }}
            <li class="page-item active"><a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a></li>
            {{ else }}
            <li class="page-item"><a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a></li>
            {{ end }}
            {{ end }}

            {{ if $pag.HasPrev }}
            <li>
            <a class="" title="Page suivante" href="{{ $pag.Prev.URL }}">
                Suivant &rarr;
            </a>
            </li>
            {{ end }}
            
        </ul>
    </div>
</nav>
 
{{ end }}